.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

.field {
  flex: 1;
  margin-right: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea,
p-dropdown {
  width: 100%;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  z-index: 0;
}

.button-wrapper {
  margin: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
