.treeview-menu-visible{
    display: block;
}

.navbar-danger{
    background-color: #594a42;
}

.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .notification:hover {
    background: #FF8C00	;
  }
  
  .notification .badge {
    position: absolute;
    top: -5px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }