.container {
  display: flex;
  height: 90vh;
}

.sidebar {
  width: fit-content;
  background-color: #f8f9fa;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: visible;
  transition: width 0.3s ease;
  z-index: 10;
}
.container.collapsed .sidebar {
  width: 37px;
  z-index: 0;
  overflow: hidden;
}

.content {
  margin-left: 210px;
  padding: 5px;
  flex-grow: 1;
  transition: margin-left 0.3s ease;
  z-index: 0;
}
.container.collapsed .content {
  margin-left: 47px;
}

.p-button {
  margin: 10px;
  width: 40px;
  height: 40px;
}
